openapi: 3.0.3
info:
  title: Amberflo Billing Customers Pricing Plans API
  description: The Amberflo Billing API manages customers, pricing plans, invoices, prepaid orders, promotions, commitments, and billing analysis for usage-based monetization workflows.
  version: 1.0.0
  contact:
    name: Amberflo Support
    url: https://www.amberflo.io/company/contact
  x-generated-from: documentation
  x-last-validated: '2026-04-19'
servers:
- url: https://app.amberflo.io
  description: Amberflo Production API
security:
- ApiKeyAuth: []
tags:
- name: Pricing Plans
  description: Manage pricing plans and customer plan assignments
paths:
  /payments-pricing-amberflo-customer-pricing:
    post:
      operationId: assignPricingPlan
      summary: Amberflo Assign Pricing Plan to Customer
      description: Assign a pricing plan to a customer account.
      tags:
      - Pricing Plans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingPlanAssignment'
      responses:
        '200':
          description: Pricing plan assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingPlanAssignment'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PricingPlanAssignment:
      type: object
      description: Assignment of a pricing plan to a customer
      properties:
        customerId:
          type: string
          description: Customer identifier
          example: customer-123456
        productId:
          type: string
          description: Product or pricing plan identifier
          example: plan-standard
        startTime:
          type: integer
          format: int64
          description: Plan start time in Unix milliseconds
          example: 1718153645993
    ErrorResponse:
      type: object
      description: Error response
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Customer not found
        code:
          type: string
          description: Error code
          example: NOT_FOUND
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key for authentication
